* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #63ae57;
  margin-inline-end: 20px;
  margin-inline-start: 20px;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
