*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background-color: aliceblue;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: azure;
}
.header_Container{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
   
}
#header_Title{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}
   
#header_Decs{
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    color: rgb(104, 99, 99);
}
.content_Container{
    background-color: rgb(49, 46, 46);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1,1fr);
}
@media(min-width:1000px){
    .content_Container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
    }
}
.card_Container{
    display: flex;
    background-color: azure;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid rgb(116, 113, 113);
    border-radius: 8px;
}
.card_Container:hover .card_image{
    transform: scale(1.3);
    transition-duration: 0.3s;
}
.image_Container{
    overflow: hidden;
    height: 10rem;
    position: relative;
}
.card_image{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.card_desc{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
#card_desc_heading{
    font-size: 1rem;
    color: rgb(38, 32, 32);
    font-weight: 600;
}
 a{
    text-decoration: none;
}
.card_Title_Anchor:hover #card_desc_heading{
   color: rgb(55, 55, 197);
}
.card_desc p{
   font-size: 1rem;
   color: rgb(101, 98, 98);
}
.card_footer{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.author_container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.author_avthar_container{
   height: 2.5rem;
   width: 2.5rem;
   overflow: hidden;
}
#author_img{
    height: 2.5rem;
   width: 2.5rem;
   border: 1px solid black;
   border-radius: 50px;
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.card_tag{
    font-size: 0.7rem;
    padding: 0.2rem;
    border: 2px solid rgb(169, 164, 164);
}