:root{
    --primay-color:rgb(229, 9, 20);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.Container{
    width: 100%;
    height: 100vh;
}
.background_Container{
    width: 100%;
    height: 100vh;
    background-image: url(./imges/backgrounImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.overlay_Container{
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 8rem;
}
.overlay_Header{
    margin-top: 1rem;
    width: 80%;
    height:60px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.netflix_Logo{
    width: 9.25rem;
    height: 2.5rem;
    color: var(--primay-color);
    fill: currentColor;
}
.overlay_Buttons{
    display: flex;
    gap: 0.8rem;
}
.select_Button{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    gap: -0.6rem;
    padding: 0.4rem 0.7rem;
    border: 1px solid rgba(218, 218, 218, 0.5);
    border-radius: 3px;
}
.select_Button:focus-within{
border: 2px solid #ffffff;
}
 select{
    outline: none;
    padding: 0 0.1rem;
    font-size: 1rem;
    font-weight: 550;
    border: none;
     color: #ffffff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.7);
}
.languge_Icon{
    height: 1.2rem;
    color: white;
    fill: currentColor;
}
.sign_Button{
    border: none;
    border-radius: 3px;
    padding: 0.1rem 0.9rem;
    font-size: 0.85rem ;
    font-weight:550;
    color: #ffffff;
    background-color: var(--primay-color);
}
.hero_Container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.hero_Content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.top_Headings{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.hero_Heading1{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight:800;
}
.hero_Heading2{
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight:bold;
}
.bottom_Headings{
     display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.hero_Heading3{
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 440;
}
.input_Forms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.input_Email{
    width: 65%;
    border:1px  solid rgba(255, 252, 252, 0.5);
    border-radius: 4px;
    padding: 1.5rem 1rem 0.5rem;
    font-size: 1rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}
.input_Email:focus{
    border: 3px solid #ffffff;
}

.getstart_Button{
    width: 35%;
    border: none;
    border-radius: 4px;
    background-color: var(--primay-color);
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.7rem 0.9rem;
    font-weight: 600;
}
