@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    padding: 0.1rem;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.header_NavBar{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_Link{
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-weight: bold;
}
.image_Logo{
    height: 5.875rem;
    width: 1.938rem;
}
 .navigation_links{
        display:none;
        gap:1.5rem;
    }
@media (min-width:768px) {
    .navigation_links{
        display: flex;
    }
}
.nav_Link{
     color: #718096;
     font-size: 1.125rem;
     font-weight: 600;
     transition: color 0.3s;
}
.nav_Link:hover{
    color: var(--link-color);
}
 .contact_Button{
    display: none;
    border: none;
        border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
        color: var(--background-color);
        background-color: var(--primary-color);
        transition:all 0.3s;
    }

@media (min-width:768px) {
    .contact_Button{
        display: block;
    }
}
.contact_Button:hover{
    background-color: #5254f8;
    transform: translateY(-3px);
    box-shadow: 2px 2px 4px black;
}
.menu_Button{
   border: none;
   display: none;
   border-radius:0.375rem;
   font-size: 1rem;
     padding: 0.5rem 0.9rem;
  font-weight: 600;
 background-color: var(--background-color);
}
.menu_Icon{
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (max-width:768px){
    .menu_Button{
        display:block;
    }
}
.main_Section{
    display:flex;
     max-width: 1280px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    gap: 2rem;
}
.left_Section{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation:slideFormLeft 1s ease forwards;
    opacity: 0;
}
@keyframes  slideFormLeft{
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
    
}
.section_Label{
    color: var(--primary-color);
    font-weight: 650;
    font-size: 1.15rem;
}
.section_Title{
    font-size: 2.3rem;
   padding:1.1rem;
   color: var(--text-color);
    line-height: 1.2;
}
.section_Desc{
    color: var(--gray);
    font-size: 1.13rem;
}

.buttons_Box{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.3rem;
    padding: 1rem;
    margin-top: 1rem;
}
.start_Button,
.take_Tour{
  
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.take_Tour{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}

.tour-button:hover{
    background-color: var(--gray);
}
.right_Section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_Box{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.main_Image{
    height: 100%;
    width: auto;
}
@media screen and (min-width:768px){
    .main_Section{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .left_Section{
        width: 40%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: start;
    }
    .section_Title{
        text-align: left;
        width: 90%;
        padding: 0;
        margin: 0;
        font-size: 2.8rem;
    }
    .section_Desc{
        text-align: left;
        width: 90%;
        font-size: 0.9rem;
        margin-top: 1.12rem;
        margin-bottom: 0;
        line-height: 1.5;
    }
    .buttons_Box{
        margin-top: auto;
        justify-content: flex-start;
        padding: 0;
    }
    .image_Box{
        height: 67vh;
    }
    .start_Button,.take_Tour{
        padding: 0.6rem 1rem;
        font-size: 1.125rem;
        font-size: 0.86rem;
    }
} 
.company_Logos{
    border: 2px solid black;
    max-width: 1280px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.grid_Container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.vectorEdu_Item{
    height: 1rem;
    width: 1rem;
}