@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    padding: 0.1rem;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.header_NavBar{
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_Link{
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-weight: bold;
}
.image_Logo{
    height: 5.875rem;
    width: 1.938rem;
}
 .navigation_links{
        display:none;
        gap:1.5rem;
    }
@media (min-width:768px) {
    .navigation_links{
        display: flex;
    }
}
.nav_Link{
     color: #718096;
     font-size: 1.125rem;
     font-weight: 600;
     transition: color 0.3s;
}
.nav_Link:hover{
    color: var(--link-color);
}
 .contact_Button{
    display: none;
    border: none;
        border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
        color: var(--background-color);
        background-color: var(--primary-color);
        transition:all 0.3s;
    }

@media (min-width:768px) {
    .contact_Button{
        display: block;
    }
}
.contact_Button:hover{
    background-color: #5254f8;
    transform: translateY(-3px);
    box-shadow: 2px 2px 4px black;
}
.menu_Button{
   border: none;
   display: none;
   border-radius:0.375rem;
   font-size: 1rem;
     padding: 0.5rem 0.9rem;
  font-weight: 600;
 background-color: var(--background-color);
}
.menu_Icon{
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (max-width:768px){
    .menu_Button{
        display:block;
    }
}